@model asp_net_core.Models.MTimeZone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MTimeZone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtcOffset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtcOffset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
